/* Global for this page */
/* col size */
.col-2 {
  width: 50%;
}

.col-3 {
  width: 30%;
}
.addPatientWrapper {
  width: 800px;
  margin: 0 auto;
}
.verticalPos {
  padding: 0 50px;
}

.formWrapper {
  border: 2px solid #eee;
  border-radius: 3px;
  margin-bottom: 30px;
}

.header {
  background: #eee;
  padding: 7px 0 7px 0;
  margin-bottom: 40px;
  margin-top: -1px;
  margin-right: -1px;
}

.header h3 {
  color: #999999;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.flexForm {
  display: flex;
  flex-direction: column;
}

.form-col {
  display: flex;
  justify-content: space-between;
}

.typeBtn {
  background: #7a7a7a;
  padding: 3px 20px;
  color: #fff;
  margin-bottom: 20px;
}

/* patient details */
.patient-details-form {
  width: 60%;
  margin: auto;
}

/* clinical and family history */
.history-form {
  width: 70%;
  margin: auto;
}

.ageOfOnset {
  max-width: 80px;
}


.familyHistoryList table {
  width: 100%;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: "Always Show Up/Down Arrows";

}

.formControl {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-left: 30px;
}

.saveBtn {
  background: #eeeeee;
  color: #000000;
  box-shadow: unset;
  border-radius: 3px;
  border: 1px solid;
}


.contentDetails {
  width: 80%;
  margin: auto;
}

.labId {
  display: flex;
}

.labId input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.labId button {
  padding-right: 25px;
  padding-left: 10px;
  background-color: #ffffff;
  border-color: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vcfFiles {
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
.vcfFiles span {
  color: #999
}
