.home-page-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.flexForm {
  display: flex;
  flex-direction: column;
}

.form-col {
  display: flex;
  justify-content: space-between;
}

.formWrapper {
  border: 2px solid #eeeeee;
  width: 500px;
}
.formControl {
  padding: 40px 20px;

}

.typeBtn {
  background: #7a7a7a;
  padding: 3px 20px;
  color: #fff;
  margin-bottom: 20px;
}

.searchInput {
  margin-right: 20px;
}
.addFamilyMemberBtn {
  margin-right: 10px;
}

.addButtons input:hover {
  color: #fff;
  background: #000;
}

.notificationsWrapper {
  padding: 20px 10px;
  background: #eee;
}
