/* body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #001F38;
  padding: 20px;
}
.headerContent {
  display: flex;
}
.headerWrapper {
  width: 50%;
  margin: auto;
}

.headerWrapper ul {
  display: flex;
}

.headerWrapper ul li {
  list-style-type: none;
  padding-right: 20px;
}

.headerWrapper ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.headerWrapper ul li a:hover,
.logOut a:hover {
  color: #1DB9C3 !important;
}

.logOut a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
} */
